<div class="not-found-page">
  <div class="not-found-page__content">
    <div class="not-found-page__title">
      <img class="not-found-page__title-img" style="    width: 90px;" src="./assets/auth/logobranco.png" alt="logo">
      <h3 class="not-found-page__title-text">IntegraSUS</h3>
    </div>

    <mat-card class="not-found-page__card" style="height: 430px;">
      <mat-card-content class="not-found-page__content">
        <h1 class="not-found-page__card-title">404</h1>

        <p class="not-found-page__card-sub-title">Oops. Parece que a página procurada não existe mais!</p>
        <p class="not-found-page__card-sub-title-second">Mas nós estamos aqui para te levar de volta à segurança.</p>

        <button class="not-found-page__card-button" mat-raised-button color="primary" [routerLink]="routes.HOME">Voltar</button>

      </mat-card-content>
    </mat-card>
  </div>
</div>
