<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">


      <div class="auth-page__group">
        <h4 class="auth-page__group-title">Seja Bem-vindo!</h4>


        <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>
      </div>

    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/auth/logobranco.png" alt="logo">
    </div>
  </div>
</div>
