<app-layout>

  <mat-toolbar class="page-header" role="heading">
    <h1>Fila de Atendimento</h1>
  </mat-toolbar>

  <mat-card class="support-requests">
    <mat-card-title class="support-requests__header">
      <!-- <div fxLayout="row" fxLayoutAlign="end start">
        <mat-icon type="button" class="settings-button__icon" (click)="onCreate()">
          lens
        </mat-icon>
      </div> -->

      <!-- <app-settings-menu></app-settings-menu> -->
    </mat-card-title>

    <mat-card-content class="support-requests__content">
      <table mat-table [dataSource]="supportRequestData$" class="support-requests__table">

        <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}"
          class="support-requests__table-row">
          <th mat-header-cell *matHeaderCellDef class="support-requests__table-row-title">{{column}}</th>
          <td mat-cell *matCellDef="let element" class="support-requests__table-content">
            <span *ngIf="column !== 'menu'">{{element[column]}}</span>
            <div *ngIf="column === 'menu'" [ngClass]="element[column]">

              <span>
                <button class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
                  <mat-icon class="settings-button__icon">more_vert</mat-icon>
                </button>
                <div class="settings-menu">
                  <mat-menu #settings="matMenu" xPosition="before">
                    <button class="settings-menu__item" mat-menu-item>Editar</button>
                    <button class="settings-menu__item" mat-menu-item (click)="onDelete(element['cpf'])">Deletar</button>
                  </mat-menu>
                </div>
              </span>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</app-layout>